[submodule "sourcedata/hcptrt.fmriprep"]
	path = sourcedata/hcptrt.fmriprep
	url = https://github.com/courtois-neuromod/hcptrt.fmriprep
	datalad-id = 167b1afc-ab5f-473b-932b-7e7a28c37dc3
	datalad-url = https://github.com/courtois-neuromod/hcptrt.fmriprep
